$headerheight: 40px;
$footerheight: 10px;
$leftcolwidth: 350px;

html, body {
  height: 100%;
  font-family: sans-serif;
}
.header {
	position: fixed;
	left:0;
	right: 0;
	top: 0;
	height: $headerheight;
	background: GreenYellow;
}
.content {
	position: fixed;
	left:0;
	right: 0;
	top: $headerheight;
	bottom: 0;
}
.main {
	position: fixed;
	right: 0;
	top: $headerheight;
	bottom: 0;
    background: #fcfcfc;
    overflow-y: scroll;
}
.conceptnav {
	position: fixed;
	left: -$leftcolwidth;
	width: $leftcolwidth;
	top: $headerheight;
	bottom: 0;
    background: aliceblue;
	flex-flow:column nowrap;
}
.menuVisible .conceptnav {
	left: 0;
}

@media all and (max-width: 600px) {
  .conceptnav {
  	display:none;
  }
  .main {
	left: 0;
  }
  .menuVisible .conceptnav {
	display: flex;
    box-shadow: 1px 5px 5px #aaa;
  }

}
@media all and (min-width: 600px) {
  .conceptnav {
	display:flex;
  }
  .main {
	left: 0;
  }
  .menuVisible .main {
	left: $leftcolwidth;
  }
}

.fa-spin {
	transition: all 1s;
}
.conceptnav > * {
	flex: 0 0 auto;
}
.scrollerwrapper {
	flex: 0 1 auto;
	overflow-y: auto;
}
.scrollerwrapper > div {
	width:100%;	
	overflow-x: hidden;
	white-space: nowrap;
}

h1 {
	padding: 10px;
	font-size: 20px;
	margin: 0;
}
label {
	font-weight: normal;
	cursor: pointer;
}
h3 {
	font-size: 16px;
	font-weight: 500;
	border-bottom: 1px solid #999;
}
.padded, header td {
	padding: 4px 15px;
	vertical-align: top;
}

.concepts a {
	display: block;
	padding: .3em 1em;
}
.concepts .selected {
	font-weight:bold;
	background: #ffff88;
}
.concepts a:hover {
	background: #eee;
}

.concepts a.selected:hover {
	background: #ffff00;
}

ul {
	list-style-type: none;
	margin: 0;
	padding:0;	
}
ul li {
}

.candidate:hover {
	background: #eee;
}
.candidate {
	cursor: pointer;
	padding: 6px 10px 3px 10px;
	color: #999;
}
.candidate.selected {
	color: #333;
}
.extract {
	font-size: 85%;
}
.candidate:before {
   font-family: FontAwesome;
   content: "\f096";
   color: #009900;
}
.candidate.selected:before {
   font-family: FontAwesome;
   content: "\f14a";
}
.category {
	display:inline-block;
	padding: 0 3px;
}
.category:hover {
	background: #eee;
}
.category.recommended {
	font-weight: bold;
}

/**************************************************************
 * Concept form
 **************************************************************/

.terms > div {
  flex: 1 1 auto;
}
.terms > div:nth-child(1) {
  flex: 0 0 21em;
}

.main input[type="text"] {
	padding: 3px 6px;
	width:20em;
	border-radius: 2px;
	margin: 2px;
	border: 1px solid #888;

	&:disabled {
		background: #dedede;
		color: #444;
	}
}

.main textarea {
	padding: 3px 6px;
	border-radius: 2px;
	margin: 2px;
	border: 1px solid #888;

	&:disabled {
		background: #dedede;
		color: #444;
	}
}

.prefLabel, .altLabel {
	display: block;
}

.prefLabel input {
	font-weight: 700;
}

.altLabels {
	display: flex;
	flex-flow: row wrap;
}

.altLabels > div {
	flex: 0 1 auto;
	margin: 5px;
}

.reviewLink {
	font-size:130%;
	background: #def;
	display:inline-block;
	padding:2px 10px;
}

/** ANGUCOMPLETE-ALT **/

.angucomplete-holder {
    position: relative;
}

.angucomplete-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 600px;
    padding: 0;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    /*top: 32px;
    left: 0px;
    */
    margin-top: -6px;
    background-color: #ffffff;
    font-size: 13px;
}

.angucomplete-searching {
    color: #acacac;
    padding: 8px;
    font-size: 13px;
}

.angucomplete-title {
	font-weight: bold;
}

.angucomplete-description {
    font-size: 11px;
    color: #555;
}

.angucomplete-row {
    padding: 4px 8px;
    color: #000000;
    margin-bottom: 4px;
    clear: both;
}

.angucomplete-selected-row, .angucomplete-selected-row .angucomplete-description {
    background-color: #ffff88;
}

.angucomplete-image-holder {
    padding-top: 2px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

.angucomplete-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
}

.angucomplete-image-default {
    /* Add your own default image here
     background-image: url('/assets/default.png');
    */
    background-position: center;
    background-size: contain;
    height: 34px;
    width: 34px;
}

