
	<div ng-show="currentConcept.error" class="alert alert-danger">{{ currentConcept.error }}.</div>

	<div ng-show="currentConcept.data">

		<p style="float:right; font-size:85%;">
			<a ng-href="{{ currentConcept.githubUrl }}" target="_blank">Meld fra om problem</a> |
			<a ng-href="{{ currentConcept.katapiUrl }}" target="katapi">Vis katalogposter</a>
		</p>

		<strong>Definisjon:</strong>
		<span ng-repeat="def in currentConcept.data.definition">{{ def }}</span>
		<em ng-show="!currentConcept.data.definition">(Mangler)</em>

		<h3>Foretrukne termer</h3>
		<table>
			<tr ng-repeat="lang in selectedLanguages">
				<td>
					<strong>{{ lang }}:</strong>
				</td>
				<td>
					<input type="text" ng-model="currentConcept.data.prefLabel[lang][0].value" ng-disabled="currentConcept.data.prefLabel[lang][0].readonly" >
				</td>
			</tr>
		</table>

		<h3>Alternative termer</h3>

		<!-- // contenteditable="true" : åpner for html + ikke kompat med angular uten mye arbeid-->
		<div class="altLabels">
			<div ng-repeat="lang in selectedLanguages">
				<altlabels lang="lang" items="currentConcept.data.altLabel[lang]"/>
			</div>
			<altlabels lang="" items="currentConcept.data.altLabel['']"/>
		</div>

		<div style="padding-top:2em;">
			<button ng-click="store()" ng-disabled="!currentConcept.data || currentConcept.saving" class="btn btn-primary">
				Lagre
			</button>

			<button ng-click="reload()" ng-disabled="!currentConcept.data || currentConcept.saving" class="btn btn-default">
				Tilbakestill
			</button>
		</div>
	</div>

