
	<div ng-show="!currentConcept">
		<em>Choose a concept from the list to the left to get started.</em>
	</div>

	<div ng-show="currentConcept.error" class="alert alert-danger">{{ currentConcept.error }}.</div>

	<div ng-show="currentConcept.data">

		<p style="background: #ffffee;">
			<a ng-href="{{ currentConcept.katapiUrl }}" target="katapi">Vis katalogposter [c]</a> |
			<a ng-href="{{ currentConcept.githubUrl }}" target="_blank">Meld fra om problem</a> |
			<a href="https://docs.google.com/document/d/1LdbfXSOSQ4Dfum25-JGRMGRQxBordqmzL52GbTwRpZo/edit?usp=sharing" target="_blank">Hjelp</a>
		</p>

		<h3>Kategorisering</h3>

        <p>
          Prøv å bruke bare én fagkategori (der begrepet brukes mest), men bruk flere kategorier
          hvis begrepet brukes omtrent like mye i flere fag.
          Flere enn tre kategorier? Bruk «Generelt» (Vanligvis)
        </p>

		<label ng-repeat="catUri in categories" class="category" ng-class="{recommended: isRecommended(catUri)}">
			<input type="checkbox"
				ng-checked="currentConcept.data.member.indexOf(catUri) != -1"
				ng-click="currentConcept.toggleCategory(catUri)">
			{{ categoryLabels[catUri] }}
			[{{ categoryShortcuts[catUri] }}]
		</label>

		<h3>Termer</h3>

		<p ng-show="currentConcept.data.type.indexOf('ubo:Time') != -1" style="background: #ffffcc;">
			Type: Tidsperiode
		</p>

		<p ng-show="currentConcept.data.type.indexOf('ubo:Place') != -1" style="background: #ffffcc;">
			Type: Geografisk sted
		</p>

		<p style="background: #ffffcc;" ng-show="currentConcept.data.definition">
			Definisjon:
			<span ng-repeat="def in currentConcept.data.definition">«{{ def.value }}»</span>
		</p>

		<p ng-show="currentConcept.data.prefLabel.la && currentConcept.data.prefLabel.la.length && currentConcept.data.prefLabel.la[0].value.length">
			Vitenskapelig navn: <em>{{currentConcept.data.prefLabel.la[0].value}}</em>
		</p>

        <div ng-if="currentConcept.data.locked" style="background: #FFDC00; padding:10px;">
            <i class="fa fa-lock" aria-hidden="true"></i>
            Termene under er låst fordi de har blitt importert til Sonja.
            Endringer kan foreslås på GitHub eller gjøres i Sonja.
            Mappinger og kategorier kan fortsatt redigeres her i Soksed.
        </div ng-if>

		<div style="display:flex;" class="terms">
			<div ng-repeat="lang in ['nb','en']">

				<div style="font-weight:bold;">{{ lang }}:</div>

				<term ng-repeat="(index,label) in currentConcept.data.prefLabel[lang]"
				      readonly="lang=='nb' || currentConcept.data.locked"
				      on-enter-press="store()"
				      data="label"
				      original-data="currentConcept.originalData.prefLabel[lang][index]"
				      class="prefLabel">

					<a ng-show="!currentConcept.originalData.prefLabel[lang][index].value"
					   href="#"
					   ng-click="currentConcept.data.prefLabel[lang][index].value = hint"
					   ng-repeat="hint in currentConcept.data.prefLabel[lang][index].hints"
					   style="padding-right:1em; font-size: 90%;">{{ hint }}</a>

				</term>

				<term ng-repeat="(index,label) in currentConcept.data.altLabel[lang]"
					  readonly="lang=='nb' || currentConcept.data.locked"
				      on-enter-press="store()"
				      data="label"
				      original-data="currentConcept.originalData.altLabel[lang][index]"
				      class="altLabel">

					<a ng-show="!currentConcept.originalData.altLabel[lang][index].value"
					   href="#"
					   ng-click="currentConcept.data.altLabel[lang][index].value = hint"
					   ng-repeat="hint in currentConcept.data.altLabel[lang][index].hints"
					   style="padding-right:1em; font-size: 90%;">{{ hint }}</a>

				</term>

			</div>
		</div>

		<h3>Mapping til Wikidata</h3>

		<div class="candidates" ng-repeat="candidate in currentConcept.candidates">
			<div tabindex="0" ng-show="candidate" class="candidate" ng-class="{selected: currentConcept.selectedCandidate == $index}" ng-click="currentConcept.toggleSelectedCandidate($index)" ng-keydown="currentConcept.keyDown($index, $event)">
				<a tabindex="-1" target="wikidata" ng-click="$event.stopPropagation()" ng-href="https://wikidata.org/wiki/{{ candidate.id }}">{{ candidate.id }}</a> : 

				<span ng-click="$event.stopPropagation()" ng-if="candidate.sitelinks.enwiki">
					"<a tabindex="-1" target="wikidata" ng-href="http://en.wikipedia.org/wiki/{{candidate.sitelinks.enwiki.title | space2underscore }}">{{candidate.sitelinks.enwiki.title}}</a>" @ enwiki
				</span>
				<span ng-if="!candidate.sitelinks.enwiki">
					{{ candidate.labels.en.value ? candidate.labels.en.value : '-'}} (en)
				</span>

				<span ng-if="candidate.sitelinks.nowiki" ng-click="$event.stopPropagation()">
					/
					"<a tabindex="-1" target="wikidata" ng-href="http://no.wikipedia.org/wiki/{{candidate.sitelinks.nowiki.title | space2underscore }}">{{candidate.sitelinks.nowiki.title}}</a>" @ nowiki
				</span>
				<span ng-if="!candidate.sitelinks.nowiki">
					{{ candidate.labels.nb.value ? candidate.labels.nb.value : '-'}} (nb)
				</span>

				<div ng-bind-html="candidate.extract" class="extract"></div>
			</div>
		</div>

		<div ng-show="currentConcept.wpWorking" style="padding:10px;">Henter...</div>

		<div>
			<angucomplete-alt id="wikipedia"
              placeholder="Search Wikipedia"
              pause="400"
              selected-object="selectWikidataResult"
              remote-url="/api.php?action=search_wikidata&lang=nb&term="
              remote-url-data-field="results"
              title-field="matched_text"
              focus-first="true"
              minlength="1"
              description-field="description" />
		</div>


		<!--
		<h3>Noter</h3>

		<textarea cols="60" rows="3" placeholder="Noter" 
			ng-repeat="(idx, note) in currentConcept.data.editorialNote"
			ng-model="note.value" ng-disabled="note.readonly"></textarea>
		-->

		<div style="padding-top:2em;">

			<button ng-click="storeAndGo()" ng-disabled="!currentConcept.data || currentConcept.saving" class="btn btn-primary">
				Lagre og gå til neste [s]
			</button>

			<button ng-click="store()" ng-disabled="!currentConcept.data || currentConcept.saving" class="btn btn-default">
				Lagre
			</button>

			<button ng-click="reload()" ng-disabled="!currentConcept.data || currentConcept.saving" class="btn btn-default">
				Tilbakestill
			</button>
		</div>
        <p style="padding-top:2em;">
            Tips:
				<ul>
					<li>- Shift-? for oversyn over hurtigtastar.</li>
					<li>- Du kan tabbe til ein mappingkandidat og trykkje mellomrom for å velge den.</li>
				</ul>
        </p>

	</div>

