
	<div class="padded" style="background: #eee;">
		<form ng-submit="filter()">
			<input type="text" placeholder="Søk" ng-model="filterQuery" style="width:100%;">

		<div style="font-size: 90%;">
			<label class="radio-inline">
			  <input type="radio" ng-model="filterNn" value=""> Vis alt		
			</label>

			<label class="radio-inline">
			  <input type="radio" ng-model="filterNn" value="-exists:prefLabel@nn"> Mangler nn
			</label>

			<label class="radio-inline">
			  <input type="radio" ng-model="filterNn" value="exists:prefLabel@nn"> Har nn
			</label>	
		</div>
		<label>
			<input type="checkbox" disabled>
			Venter på godkjenning		
		</label>
		<div style="float:right;">
			Viser {{ concepts.length }} av {{ totalCount }}
		</div>

		<button type="submit" ng-disabled="busy">Vis</button>
		<i class="fa fa-cog fa-spin" ng-show="busy"></i>
		</form>

	</div>

	<div class="scrollerwrapper concepts" vs-repeat vs-autoresize>

		<!--
		<div id="scroller" class="concepts" >
		 infinite-scroll="fetchMoreConcepts()" infinite-scroll-distance="3" style="overflow-y:scroll;" class="concepts">-->
		  <div ng-repeat="concept in concepts">
			<a ui-sref='concepts.concept({ id: concept.id })'
			   ng-class="{selected: concept.uri == currentConcept.uri }"
			   >
				<span style="float:right;">
					<i class="fa fa-circle-o-notch fa-spin" ng-show="concept.saving"></i>
					<i class="fa fa-circle" ng-show="concept.dirty"></i>
					<i class="fa fa-check" ng-show="concept.saved && !concept.dirty"></i>
					<i class="fa fa-warning" style="color:red;" ng-show="concept.error"></i>
				</span>
				{{ concept.label }}
			</a>
		  </div>
<!--		</div>-->
		
	</div>
