
	<div class="padded" style="background: #eee;">
		<label>Søk: <input type="text"></label>

		<div style="font-size: 90%;">
			<label class="radio-inline">
			  <input type="radio" ng-model="filter" value=""> Vis alt		
			</label>

			<label class="radio-inline">
			  <input type="radio" ng-model="filter" value="-prefLabel.lang:nn"> Mangler nn
			</label>

			<label class="radio-inline">
			  <input type="radio" ng-model="filter" value="prefLabel.lang:nn"> Har nn
			</label>	
		</div>

		<div>
			Viser {{ concepts.length }} av {{ totalCount }}
		</div>

	</div>

	<div class="scrollerwrapper">

		<div id="scroller" class="concepts">
		<!--
		 infinite-scroll="fetchMoreConcepts()" infinite-scroll-distance="3" style="overflow-y:scroll;" class="concepts">-->
		  <div ng-repeat="concept in concepts">
			<a ui-sref='concepts.concept({ id: concept.id })'
			   ng-class="{selected: concept.uri == currentConcept.uri }"
			   >
				<span style="float:right;">
					<i class="fa fa-circle-o-notch fa-spin" ng-show="concept.saving"></i>
					<i class="fa fa-circle" ng-show="concept.dirty"></i>
					<i class="fa fa-check" ng-show="concept.saved && !concept.dirty"></i>
					<i class="fa fa-warning" style="color:red;" ng-show="concept.error"></i>
				</span>
				{{ concept.label }}
			</a>
		  </div>
		</div>
		
	</div>
