<div class="padded">
	<div class="main">
	<ol class="breadcrumb">
	  <li class="active">Hjem</li>
	</ol>

	<h2>
		Prosjekter
	</h2>

	<ul>
		<li>
			<a href="/concepts/?view=nn">2015: Omsetjing til nynorsk</a>
		</li>
		<li>
			<a href="/concepts/?view=mapping&amp;q=-exists:prefLabel@en"><strong>2017: Engelsk + kategorisering + Wikidata</strong> (Prosjekt Kinderegg)</a>.

            Andre visninger:
			<a href="/concepts/?view=mapping&q=has:unverified">ikke korrekturlest</a>,
			<a href="/concepts/?view=mapping">uten filter</a>

		</li>
		<!--
		<li>
			<a href="/concepts/?view=se">En vakker dag? Oversetting til nordsamisk</a>
		</li>
		-->
	</ul>

	<h2>
		Administrativt
	</h2>
	<ul>
		<li>
			<a href="/users">Brukerliste</a>
		</li>
		<li>
			<a href="/events">Logg</a> (kan ta litt tid å laste)
		</li>
	</ul>
</div>
</div>
