<div class="padded">
	<ol class="breadcrumb">
	  <li class="active">Hjem</li>
	</ol>

	<h2>soksed : redigeringsverktøy for skos-xl</h2>
	<p>
		Her ligger verktøy for å jobbe med Realfagstermer (og kanskje andre skos-vokabularer etterhvert)
	</p>
	<p>
	» <a href="/concepts/?view=nn">2015: Omsetjing til nynorsk</a>
	</p>
	<p>
	» <a href="/concepts/?view=mapping"><strong>2017: Engelsk + kategorisering + Wikidata</strong></a>
	</p>
	<p>
	» <a href="/concepts/?view=se">En vakker dag: Oversetting til nordsamisk</a>
	</p>
</div>
