<div class="padded">
	<ol class="breadcrumb">
	  <li class="active">Hjem</li>
	</ol>

	<h2>
		Prosjekter
	</h2>
	<p>
		Her ligger verktøy for å jobbe med Realfagstermer (og kanskje andre skos-vokabularer etterhvert)
	</p>

	<ul>
		<li>
			<a href="/concepts/?view=nn">2015: Omsetjing til nynorsk</a>
		</li>
		<li>
			<a href="/concepts/?view=mapping"><strong>2017: Engelsk + kategorisering + Wikidata</strong></a>
		</li>
		<li>
			<a href="/concepts/?view=se">En vakker dag: Oversetting til nordsamisk</a>
		</li>
	</ul>

	<h2>
		Administrativt
	</h2>
	<ul>
		<li>
			<a href="/users">Brukerliste</a>
		</li>
		<li>
			<a href="/events">Logg</a>
		</li>
	</ul>

</div>
