<input type="text"
       ng-model="data.value"
       ng-disabled="readonly || data.readonly"
       ng-focus="focus($event)"
       ng-keydown="keydown($event)"
       title="{{ data.created ? 'Opprettet ' + data.created + ' av ' + data.creator : '' }}">

<span ng-show="originalData.value==data.value">
	<a href="#" class="reviewLink"
	   ng-click="markReviewed()"
	  ng-show="!originalData.readonly && originalData.value && !originalData.proofread"><i class="fa fa-check-circle "></i> Godkjenn
	</a>

	<span style="font-size:130%; color:green; display:inline-block;padding:2px 10px;"
	      ng-show="originalData.proofread"><i class="fa fa-check-circle "></i> Godkjent
	</span>
</span>

<ng-transclude></ng-transclude>
