
<div class="padded">
    <div class="main">
	<ol class="breadcrumb">
	  <li><a href="/">Hjem</a></li>
	  <li class="active">Brukere</li>
	</ol>

	<h2>Users</h2>

	<ul class="list-group">
		<li ng-repeat="user in users" class="list-group-item">
			<a ui-sref="user({ id: user.username[0] })">{{ user.username[0] }}</a>
			- registrert {{ user.created[0] }}
			- tilganger:
			<span ng-repeat-start="permission in user.permission"></span>
				<span class="label label-info">{{ permission }}</span> 
			<span ng-repeat-end></span>

		</li>
	</ul>
    </div>
</div>
